.navbar {
    background-color: #1b5e20;
    padding: 1em;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
  }
  